body {
  background-color: linen;
}

p {
  font-size: 30px;
}

li {
  font-size: 20px;
}

h1,h2,h3,h4{
  padding-bottom: 5px;
}

h1{
  font-style: italic; /* Unused property */
  font-weight: 900;
  text-decoration: underline;

}
